
# the directory path that will be monitored
monitored.path=C:\\Users\\Owner\\Documents\\Visual Studio Code Projects\\Java\\ClientServer\\Monitored

# the key filtering pattern that will be applied
filtering.pattern=phone.*

# the address of the corresponding server program
server.address=127.0.0.1

# what port to send messages to
port.num=4999

# the frequency to monitor the directory path (in minutes)
monitor.frequency=1
